{% extends "base.html" %}
{% load static %}
{% block title %}{{ titulo }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ fabricanteForm.non_field_errors }}
                <div class="row">
                    <label for="id_Fabricante" class="col-md-2">Fabricante</label>
                    <div>
                        {{ fabricanteForm.Fabricante }}
                        {{ fabricanteForm.Fabricante.errors }}
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-danger col-md-2 mt-3 mr-2"><i class="fa fa-check"></i> Salvar</button>
                    <a href="{% url 'fabricante' %}" class="btn bg-secondary col-md-2 mt-3"><i class="fa fa-rotate-left"></i> Retornar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
