<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>

{% if widget.value %}
    <img id="{{ widget.name }}_preview" src="{{ widget.value.url }}" alt="Current Image" style="display: block;">
{% else %}
    <img id="{{ widget.name }}_preview" src="" alt="No image Selected" style="display: none;">
{% endif %}

<script>
    // Detects when the image input changes.
    document.getElementById("{{ widget.attrs.id }}").addEventListener("change", event => {
        const input = event.target;
        const previewImage = document.getElementById("{{ widget.name }}_preview");
        
        if (input.files && input.files[0]) {
            // Changes the "img tag" to the new selected image.
            const reader = new FileReader();
            reader.onload = e => {
                previewImage.src = e.target.result;
                previewImage.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>
