{% extends "base.html" %}
{% load static %}
{% block title %}Categorias{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">
            <div class="alert alert-info">
                <a href="{% url 'create_categoria' %}" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Nova Categoria</a>
                Categorias encontradas [{{ categorias|length }}]
            </div>
            {% for categoria in categorias %}
                <div class="row">
                    <h5 class="col-md-3">{{ categoria.Categoria }}</h5>
                    <a href="{% url 'edit_categoria' categoria.id %}"
                       class="btn bg-secondary mb-2 mr-2"><i class="fa fa-edit"></i> Editar</a>
                    <a href="{% url 'delete_categoria' categoria.id %}"
                       class="btn btn-warning mb-2"><i class="fa fa-trash"></i> Apagar</a>
                </div>
            {% empty %}
                <p>Nenhuma categoria cadastrada.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
