{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if category %}Editar Categoria{% else %}Adicionar Categoria{% endif %}
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'components/generic_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'app/category_form.css' %}">
{% endblock %}

{% block content %}
    <h1>{% if category %}Editar Categoria{% else %}Adicionar Categoria{% endif %}</h1>

    <form method="post" action="">
        {% csrf_token %}

        {% if message is not None %}
            <p class="message">{{ message.text }}</p>
        {% endif %}

        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" value="{{ category.name|default_if_none:'' }}" required>
        </div>

        <div class="form-buttons">
            <button class="generic_button add-button" type="submit">Salvar</button>
            <a class="generic_button return-button" href="{% url 'categories' %}">Retornar</a>
        </div>
    </form>
{% endblock %}
