{% extends "base.html" %}

{% load static %}

{% block title %}
    Categorias
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'components/generic_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'app/categories.css' %}">
{% endblock %}

{% block content %}
    <div class="top-list">
        {% url 'create_category' as create_category_link %}
        {% include "components/generic_button.html" with btn_link=create_category_link btn_classes="add-button" text="Nova Categoria" only %}
        <p class="list-found">Categorias Encontradas: <strong>{{ categories|length }}</strong>.</p>
    </div>

    <table class="table-list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <div class="action-buttons">
                            <a class="generic_button edit-button" href="{% url 'edit_category' category.pk %}">Editar</a>
                            <a class="generic_button delete-button" href="{% url 'delete_category' category.pk %}">Excluir</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Nenhuma categoria cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
