{% extends "base.html" %}

{% load static %}

{% block title %}
    Editar Usuário
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'components/generic_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'app/edit_user.css' %}">
{% endblock %}

{% block content %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% if message is not None %}
            <p class="message">Mensagem: {{ message.text }}</p>
        {% endif %}

        {% for f in user_form %}
            {% if not f.is_hidden %}
                <div>
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                </div>

                {% for error in f.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            {% else %}
                <div>
                    <label></label>
                    {{ f }}
                </div>
            {% endif %}
        {% endfor %}

        {% for f in form %}
            {% if not f.is_hidden %}
                <div>
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                </div>
                
                {% for error in f.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            {% else %}
                <div>
                    <label></label>
                    {{ f }}
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="form-buttons">
            <button class="generic_button edit-button" type="submit">Editar</button>
            <a class="generic_button return-button" href="{% url 'users' %}">Retornar</a>
        </div>
    </form>
{% endblock %}
