{% extends "base.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'components/products_found.css' %}">
    <link rel="stylesheet" href="{% static 'components/card_home.css' %}">
    <link rel="stylesheet" href="{% static 'components/generic_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'app/home.css' %}">
{% endblock %}

{% block content %}
    <h1>Buscar Produtos</h1>

    <form method="get" action="{% url 'home' %}">
        <input type="text" name="name" id="input_name" value="{{ search_query }}" placeholder="Nome do Produto">
        <button type="submit">Buscar</button>
    </form>

    {% include "components/products_found.html" with amount=products|length only %}

    <ul class="products_list">
        {% for prod in products %}
            {% include "components/card_home.html" with product=prod only %}
        {% endfor %}
    </ul>
{% endblock %}
