{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if form.instance.pk %}Editar Fabricante{% else %}Adicionar Fabricante{% endif %}
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'components/generic_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'app/category_form.css' %}">
{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Editar Fabricante{% else %}Adicionar Fabricante{% endif %}</h1>

    <form method="post" action="">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="message">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-buttons">
            <button class="generic_button add-button" type="submit">Salvar</button>
            <a class="generic_button return-button" href="{% url 'manufacturers' %}">Retornar</a>
        </div>
    </form>
{% endblock %}
