{% extends "base.html" %}

{% load static %}

{% block title %}
    Produtos
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'components/products_found.css' %}">
    <link rel="stylesheet" href="{% static 'components/card_products.css' %}">
    <link rel="stylesheet" href="{% static 'components/generic_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'app/products.css' %}">
{% endblock %}

{% block content %}
    <div class="top-product">
        {% url 'create_product' as create_product_link %}
        
        {% include "components/generic_button.html" with btn_link=create_product_link btn_classes="add-button" text="Novo Produto" only %}
        {% include "components/products_found.html" with amount=products|length only %}
    </div>

    <ul class="products_list">
        {% for prod in products %}
            {% include "components/card_products.html" with product=prod %}
        {% endfor %}
    </ul>
{% endblock %}
