h1 {
    margin-bottom: .5rem;
}

form {
    width: min(100%, 500px);
}

.message {
    margin-bottom: .5rem;
    padding: .4rem;
    border-radius: .2rem;
    background-color: #f8d7da;
}

.form-group {
    display: grid;
    gap: .25rem;
    margin-bottom: .5rem;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    font-size: 1.1rem;
    padding: .3rem;
    border: 1px solid black;
    border-radius: .2rem;
}

.form-error {
    color: #b30000;
    font-size: .9rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: .5rem;
}

.form-buttons .generic_button {
    width: 100%;
}
