h1 {
    margin-bottom: .5rem;
}

form {
    width: min(100%, 500px);
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: .5rem;
}

.form-buttons .generic_button {
    width: 100%;
}
