.top-list {
    display: block;
    margin-bottom: 1rem;
}

.top-list .list-found {
    margin-top: .5rem;
}

.table-list {
    width: 100%;
}

.table-list, .table-list :where(td, th, tr) {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-list :where(td, th) {
    padding: .4rem;
}

.action-buttons {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.action-buttons .generic_button {
    min-width: 5rem;
}
