.message {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    margin-bottom: .5rem;
}

form {
    width: min(100%, 600px);
}

form div + div {
    margin-top: .2rem;
}

form div:has(input[type="text"]), 
form div:has(input[type="email"]), 
form div:has(select), 
form div:has(input[type="date"]) { /* "form.as_p" does this structure */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

form :where(input[type="text"], input[type="email"], input[type="date"], select) {
    font-size: 1.1rem;
    padding: .2rem;
    border: 1px solid black;
    border-radius: .2rem;
    background-color: white;
    transition: background .3s ease;
}

form :where(input[type="text"], input[type="email"], input[type="date"], select):focus {
    background-color: #d4ebf7;
}

form img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.form-error {
    color: red;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: .5rem;
}

.form-buttons .generic_button {
    width: 100%;
}