h1 {
    margin-bottom: .5rem;
}

form :where(input, button) {
    display: block;
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: .5rem;
    width: min(100%, 450px);
    transition: background .3s ease;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

form input:focus {
    background-color: #d4ebf7;
}

form button {
    color: white;
    margin-top: 1rem;
    background-color: #0d6cf2;
    transition: background .3s ease;
    cursor: pointer;
}

form button:hover {
    background-color: #0758cb;
}

.products_list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.generic_button {
    width: 100%;
}
