.products_list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.top-product {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
}

.top-product .generic_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-product .products_found {
    flex-grow: 1;
    margin: 0;
}
