.top-user {
    display: block;
    margin-bottom: 1rem;
}

.top-user .users {
    width: 100%;
    margin: 0;
}

.table-users {
    width: 100%;
}

.table-users, .table-users :where(td, th, tr) {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-users :where(td, th) {
    padding: .2rem;
}
