{% url 'view_product' product.pk as details_link %}

<li class="product_item">
    <img src="{{ product.image.url }}" alt="{{ product.name }} Image">

    <div class="item-categories">
        {% for category in product.categories.all %}
            <p>{{ category.name|title }}</p>
        {% endfor %}
    </div>
    
    <h2>{{ product.name }}</h2>

    <div class="item-buttons">
        {% include "components/generic_button.html" with btn_link=details_link btn_classes="details-button" text="Ver" only %}
        {% include "components/generic_button.html" with btn_link="#" btn_classes="favorite-button" text="Favoritar" only %}
    </div>
</li>
