.product_item {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.product_item img {
    width: 100%;
    height: 200px;
    border-radius: .5rem;
    object-fit: cover;
}

.item-categories {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    margin-block: .5rem;
}

.item-categories p {
    color: white;
    font-size: .8rem;
    padding: .3rem .4rem;
    border-radius: .3rem;
    background-color: #0d6cf2;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}
