header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 1rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 3rem;
}

header li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #0d6cf2;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 1rem;
    transition: background .3s ease;
}

header li a:hover {
    text-decoration: underline;
    background-color: #d4ebf7;
}
