{% extends "base.html" %}
{% load static %}
{% block title %}Favoritos{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">
            <div class="alert alert-info">
                <h3>Produtos favoritos</h3>
            </div>
            <div class="row">
                {% for prod in produtos %}
                    <div class="col-xs-9 col-md-3 col-lg-3">
                        <div class="card mb-4">
                            <div class="image-circle"
                                 style="background-image: url('/media/{{ prod.image }}')"></div>
                            <div class="card-body">
                                <h5 class="card-title">{{ prod.Produto }}</h5>
                                <div class="d-flex flex-wrap" style="gap: .25rem;">
                                    <a href="{% url 'details_produto' prod.id %}"
                                    class="btn btn-primary btn-card">
                                        <i class="fa fa-search"></i> Ver
                                    </a>
                                    <form method="post"
                                        action="{% url 'alternar_favorito' prod.id %}"
                                        style="display: inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{% url 'listar_favoritos' %}">
                                        <button type="submit" class="btn btn-warning btn-card">
                                            <i class="fa fa-heart"></i> Remover
                                        </button>
                                    </form>
                                    <a href="{% url 'create_carrinhoitem' prod.id %}"
                                        class="btn btn-primary btn-card m-0">
                                        <i class="fa fa-plus"></i> Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-warning">Você ainda não possui produtos favoritos.</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
