{% extends "store/base.html" %}

{% block title %}Produto {{ product.id }}{% endblock %}

{% block body %}
<body class="bg-blue-300 h-dvh flex justify-center items-center">
    <div class="bg-white flex justify-center items-stretch gap-6 p-3 rounded-md shadow-sm relative">
        {% if product.is_featured %}
        <span class="material-symbols-outlined absolute text-yellow-500 text-shadow-sm top-3 left-3">star</span> <!-- Featured -->
        {% endif %}

        <img class="w-3xs object-cover rounded-md" src="{{ product.image.url }}" alt="{{ product.name }}">

        <div class="max-w-sm flex flex-col justify-between">
            <div>
                <div class="flex gap-x-2 flex-wrap py-2"> <!-- Categories -->
                    {% for category in product.categories.all %}
                    <p class="bg-gray-600 text-white text-sm px-2 py-1 rounded-md shadow-sm">{{ category.name }}</p>
                    {% endfor %}
                </div>

                <h2 class="font-bold text-2xl sm:text-xl mt-2">{{ product.name }}</h2> <!-- Title -->
                
                <p class="text-sm text-gray-700 mb-2">{{ product.manufacturer.name }}</p> <!-- Manufacturer -->
            </div>

            <div class="flex flex-wrap justify-between gap-6 items-center">
                <div> <!-- prices -->
                    {% if product.promotion is None %}
                    <p class="text-2xl font-bold before:content-['R$']">{{ product.price }}</p>
                    {% else %}
                    <p class="text-gray-700 line-through before:content-['R$']">{{ product.price }}</p>
                    <p class="text-2xl font-bold before:content-['R$']">{{ product.promotion }}</p>
                    {% endif %}
                </div>
                
                <a href="{% url 'index' %}" class="bg-blue-600 text-white p-3 rounded-md shadow-sm hover:bg-blue-700 hover:cursor-pointer flex justify-center align-center"><span class="material-symbols-outlined">shopping_cart</span></a> <!-- Buy Button -->
            </div>
        </div>
    </div>
</body>
{% endblock %}
